In [1]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

In [4]:
# Set variables to text files
alice_text = '../Resources/alice.txt'
sherlock_text = '../Resources/sherlock.txt'

alice_df = pd.read_csv(alice_text, sep='\r\n', header=None)
sherlock_df = pd.read_csv(sherlock_text, sep='\r\n', header=None)
alice_df.columns = ['text']
alice_df.head()

C:\Users\usvisin3\AppData\Local\Temp/ipykernel_44484/822601523.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  alice_df = pd.read_csv(alice_text, sep='\r\n', header=None)
C:\Users\usvisin3\AppData\Local\Temp/ipykernel_44484/822601523.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  sherlock_df = pd.read_csv(sherlock_text, sep='\r\n', header=None)

                                                                       text
0                                          ALICE’S ADVENTURES IN WONDERLAND
1                                           CHAPTER I. Down the Rabbit-Hole
2     Alice was beginning to get very tired of sitting by her sister on the
3  bank, and of having nothing to do: once or twice she had peeped into the
4   book her sister was reading, but it had no pictures or conversations in

In [69]:
# Create a function to find how many questions are asked in a text

def question_count(book_df):
    #p = '\?$'
    p = '(Alice)(\s\w.ly)(.?$)'
    new_df = book_df['text'].str.extractall(p,flags=re.I)
    return new_df

question_count(alice_df)

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [ ]:
# Print questions asked in the Alice text

In [ ]:
# Print Questions asked in the Holmes text

In [ ]:
# Create a function that will create a DataFrame for all 6+ lengths word following a character

In [ ]:
# Print the Word count for the character Alice

In [ ]:
# Print the Word count for the characters Hatter

In [ ]:
# Print the Word count for the characters Holmes