In [26]:
import pandas as pd
pd.options.display.max_colwidth = 120

In [35]:
# load in Alice in Wonderland text
alice_file = '../Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\r\n', header=None)
alice_df.columns = ['text']
alice_df.head()

C:\Users\usvisin3\AppData\Local\Temp/ipykernel_46008/1222405860.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  alice_df = pd.read_csv(alice_file, sep='\r\n', header=None)

                                                                       text
0                                          ALICE’S ADVENTURES IN WONDERLAND
1                                           CHAPTER I. Down the Rabbit-Hole
2     Alice was beginning to get very tired of sitting by her sister on the
3  bank, and of having nothing to do: once or twice she had peeped into the
4   book her sister was reading, but it had no pictures or conversations in

In [36]:
# find all lines of text with the strings 'cat', 'hat', and 'eat'
p = '[che]at'
alice_df[alice_df['text'].str.contains(p)]

                                                                            text
5        it, ‘and what is the use of a book,’ thought Alice ‘without pictures or
12       There was nothing so VERY remarkable in that; nor did Alice think it so
15      occurred to her that she ought to have wondered at this, but at the time
18        Alice started to her feet, for it flashed across her mind that she had
26        dipped suddenly down, so suddenly that Alice had not a moment to think
...                                                                          ...
2438                                         what a wonderful dream it had been.
2445      up into hers--she could hear the very tones of her voice, and see that
2446          queer little toss of her head to keep back the wandering hair that
2448  listen, the whole place around her became alive with the strange creatures
2468     of the cattle in the distance would take the place of the Mock Turtle’s

[537 rows x 1 columns]

In [37]:
# find all lines of text with the strings 'cat', 'hat', and 'eat' that end with a period
p = '[che]at\.'
alice_df[alice_df['text'].str.contains(p)]

                                                                      text
66     (Dinah was the cat.) ‘I hope they’ll remember her saucer of milk at
524   ‘Dinah’s our cat. And she’s such a capital one for catching mice you
642             ‘Sure, it does, yer honour: but it’s an arm for all that.’
1827                                                         as all that.’
1975                                ‘any shrimp could have told you that.’
2043                 While the Owl had the dish as its share of the treat.

In [68]:
# find all lines of text with a word that matches the form "w*ll"
p = '\?$'
alice_df[alice_df['text'].str.contains(p)]

                                                                        text
295   ‘Would it be of any use, now,’ thought Alice, ‘to speak to this mouse?
839                         Do you think I can listen all day to such stuff?
1925      They are waiting on the shingle--will you come and join the dance?
1926      Will you, won’t you, will you, won’t you, will you join the dance?
1927     Will you, won’t you, will you, won’t you, won’t you join the dance?
1938      Will you, won’t you, will you, won’t you, will you join the dance?
2063                                  Who for such dainties would not stoop?
2071                                                Game, or any other dish?
2073                                      Pennyworth only of beautiful Soup?
2074                                      Pennyworth only of beautiful Soup?
2089                                        CHAPTER XI. Who Stole the Tarts?
2364                                               What would become of you?