In [1]:
import pandas as pd
import re
pd.options.display.max_colwidth = 100

In [2]:
# load in Alice in Wonderland text
alice_file = '../Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\r\n', header=None)
alice_df.columns = ['text']
alice_df.head()

C:\Users\usvisin3\AppData\Local\Temp/ipykernel_32052/1222405860.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  alice_df = pd.read_csv(alice_file, sep='\r\n', header=None)

                                                                       text
0                                          ALICE’S ADVENTURES IN WONDERLAND
1                                           CHAPTER I. Down the Rabbit-Hole
2     Alice was beginning to get very tired of sitting by her sister on the
3  bank, and of having nothing to do: once or twice she had peeped into the
4   book her sister was reading, but it had no pictures or conversations in

In [33]:
# extract all words with 12 or more letters
p = '(\s\w{12,})'
alice_df['text'].str.extractall(p, flags=re.I).dropna().head(10)

                         0
    match
4   0        conversations
235 0       Multiplication
292 0         hippopotamus
353 0        uncomfortable
578 0         nevertheless
597 0        uncomfortable
616 0         conversation
747 0        circumstances
761 0         conversation
781 0       contemptuously

In [16]:
# Find all the words that come after "Alice" in the text and count their frequency
p = '(Alice)(\s\w{6})'
alice_df['text'].str.extractall(p, flags=re.I).value_counts()

0      1
Alice   though    12
        looked     8
        replie     8
        ventur     4
        hastil     4
        indign     3
        waited     3
        whispe     2
        called     2
        cautio     2
        notice     2
        remark     2
        guesse     2
        recogn     1
        remain     1
        sharpl     1
        severe     1
        quietl     1
        sighed     1
        starte     1
        timidl     1
        turned     1
        watche     1
        rather     1
        angril     1
        panted     1
        opened     1
        appear     1
        laughe     1
        joined     1
        hersel     1
        glance     1
        gently     1
        folded     1
        doubtf     1
        dodged     1
        desper     1
        crouch     1
        consid     1
        caught     1
        loudly     1
dtype: int64

In [19]:
# Find all the words 5 letters or longer that come after "Alice" in the text and count their frequency
p = '(Alice)(\s\w{5,})'
alice_df['text'].str.extractall(p, flags=re.I).value_counts()

0      1
Alice   thought         11
        could           10
        looked           8
        replied          8
        began            6
        ventured         4
        hastily          4
        heard            3
        indignantly      3
        waited           3
        asked            3
        cautiously       2
        quite            2
        remarked         2
        guessed          2
        noticed          2
        called           2
        whispered        2
        again            2
        remained         1
        recognised       1
        sadly            1
        added            1
        think            1
        severely         1
        sharply          1
        sighed           1
        started          1
        thoughtfully     1
        timidly          1
        tried            1
        turned           1
        watched          1
        rather           1
        laughed          1
        quietly          1
        panted           1
        alone            1
        aloud            1
        angrily          1
        appeared         1
        caught           1
        considered       1
        crouched         1
        desperately      1
        dodged           1
        doubtfully       1
        folded           1
        found            1
        gently           1
        glanced          1
        herself          1
        joined           1
        after            1
        loudly           1
        opened           1
        would            1
dtype: int64

In [27]:
# Find all the words 5 letters or longer that don't end in "ly" that come after "Alice" in the text and count their frequency
p = '(Alice)(.+ly)(\s\w{5,})'
alice_df['text'].str.extractall(p, flags=re.I)[1].value_counts()

 hastily                                         2
 cautiously                                      2
 went on, half to herself, as she swam lazily    1
 kept her eyes anxiously                         1
. ‘But you’re so easily                          1
 replied in a very melancholy                    1
 waited patiently                                1
 thought decidedly                               1
 felt dreadfully                                 1
 gently                                          1
 was very nearly                                 1
 was thoroughly                                  1
Name: 1, dtype: int64